Flask==0.10.1
Flask-Admin==1.0.8
Flask-Cors==1.9.0
Flask-Script==2.0.5
Flask-Security==1.7.5
Flask-WTF==0.10.2
Jinja2==2.7.3
Markdown==2.5.1
MarkupSafe==0.23
WTForms==1.0.5
Werkzeug==0.9.6
aniso8601==0.83
flake8==2.2.3
ipython==5.0.0
itsdangerous==0.24
mccabe==0.2.1
peewee==2.4.1
pep8==1.5.7
pyflakes==0.8.1
pytz==2014.7
six==1.8.0
wtf-peewee==0.2.3
rdflib==4.2.1
rdflib-jsonld==0.4.0
