SQLITE_DB_FILE='scm.db'
DEBUG=True
SECRET_KEY='super secret'

# Configure SERVER_NAME if you need support for a subdomain, or for debugging.
SERVER_NAME = 'localhost:5000'

# Algorithm used to hash an entry for comparisons and signing. Must be the name
# of a function from hashlib that implements the required algorithm.
ENTRY_HASH_FUNCTION = 'sha256'
# Algorithm used to hash the content of external resources for checksumming.
# Must be the name of a function from hashlib that implements the required
# algorithm.
RESOURCE_HASH_FUNCTION = 'sha256'
RESOURCE_TIMEOUT = 1

# Default value of the 'published' flag for an entry. True makes every
# submission visible by default. Set False to hide entries by default.
PUBLISH_DEFAULT = False
# Whether users can change the published status of their own entries. Set this
# to False to require a moderator (see ENTRY_PUBLISH_MODERATORS) to approve a
# submission before it is published.
PUBLISH_OWN = True
# Roles that can change the published status of any entry.
#
# N.B. These roles can see *every* unpublished entry, even if not their own.
PUBLISH_MODERATOR_ROLES = ['moderator']

SECURITY_EMAIL_SENDER='no_reply@sssc'
SECURITY_EMAIL_SUBJECT_REGISTER='SSSC Account verification'
SECURITY_REGISTERABLE=True
SECURITY_CONFIRMABLE=True
SECURITY_RECOVERABLE=True
SECURITY_CHANGEABLE=True
SECURITY_PASSWORD_HASH='bcrypt'
SECURITY_PASSWORD_SALT='5hkT3yfG8UVO32NaLm9tM0'

MAIL_SERVER = 'smtp-relay.csiro.au'
