SQLITE_DB_FILE='scm.db'
DEBUG=True
SECRET_KEY='super secret'

ENTRY_HASH_FUNCTION = 'sha256'
RESOURCE_HASH_FUNCTION = 'sha256'
RESOURCE_TIMEOUT = 1

SECURITY_EMAIL_SENDER='geoffrey.squire@data61.csiro.au'
SECURITY_REGISTERABLE=True
SECURITY_CONFIRMABLE=True
SECURITY_RECOVERABLE=True
SECURITY_CHANGEABLE=True
SECURITY_PASSWORD_HASH='bcrypt'
SECURITY_PASSWORD_SALT='5hkT3yfG8UVO32NaLm9tM0'

MAIL_SERVER = 'smtp-relay.csiro.au'
