{% extends 'base.html' %}

{% block page_header %}
<h2>Attach file</h2>
{% endblock %}

{% block content %}
<form method="POST"
      action="{{ url_for('site.attach_files') }}"
      class="form-horizontal"
      enctype="multipart/form-data">
  <input type="hidden" name="entry" value="{{model_url(entry)}}">

  <div class="form-group">
    <label>Entry</label>
    <p class="form-control-static">
      <a href="{{model_url(entry)}}">{{ entry.name }}</a>
    </p>
  </div>

  <div class="form-group">
    <label for="file">Attachment</label>
    <input type="file" id="file" name="file">
    <p class="help-block">
      Select a file to upload and attach.
    </p>
  </div>

  <button type="submit" class="btn btn-default">Upload</button>
</form>
{% endblock %}
