<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Source Solution Centre</title>

      <!-- Boostrap -->
      <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
            rel="stylesheet">

      <!-- Syntax highlighting -->
      <link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet" >
      <link href="{{ url_for('static', filename='css/entries.css') }}" rel="stylesheet" >

      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
                  data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">SSC</a>
        </div>

        {%- block topbar -%}
        <div class="navbar-collapse collapse" id="navbar-content-1">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('site.index') }}">Home</a></li>
            <li><a href="{{ url_for('site.problem_list') }}">Problems</a></li>
            <li><a href="{{ url_for('site.solution_list') }}">Solutions</a></li>
            <li><a href="{{ url_for('site.toolbox_list') }}">Toolboxes</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation"><a href="{{ url_for('problem.index_view') }}">Manage Problems</a></li>
                <li role="presentation"><a href="{{ url_for('solution.index_view') }}">Manage Solutions</a></li>
                <li role="presentation"><a href="{{ url_for('toolbox.index_view') }}">Manage Toolboxess</a></li>
                {# <li role="presentation"><a href="{{ url_for('user.index_view') }}">Manage Users</a></li> #}
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a href="{{ url_for('problem.create_view') }}">New Problem</a></li>
                <li role="presentation"><a href="{{ url_for('solution.create_view') }}">New Solution</a></li>
                <li role="presentation"><a href="{{ url_for('toolbox.create_view') }}">New Toolbox</a></li>
                {# <li role="presentation"><a href="{{ url_for('user.create_view') }}">New User</a></li>  #}
              </ul>
            </li>
            <li><a href="https://www.seegrid.csiro.au/wiki/VirtualLabs/Vhirl/AddSSCContent">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right" role="search"
                action="{{ url_for('site.search') }}">
            <div class="form-group">
              <input type="text" name="search" class="form-control"
                     placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>
        </div>
        {%- endblock -%}
      </div>
    </div>

    <div class="container">
      <div class="content">
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/jquery-3.1.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/syntaxhighlighter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/beautify.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scm.js') }}"></script>

    {% block js_footer %}
    {% endblock %}
  </body>
</html>
