<div class="modal fade" id="uploadFileDialog" tabindex="-1" role="dialog" aria-labelledby="uploadFileDialogLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="uploadFileDialogLabel">Upload file</h4>
      </div>

      <div class="modal-body">
        {% include 'upload_form.html' %}
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
 // Pass the callback to execute after upload in the data-uploaded attribute on
 // the button that shows the dialog. Capture it when the dialog is shown and
 // stash it on the form for use when the form is submitted.
 $('#uploadFileDialog').on('show.bs.modal', function(event) {
     var button = $(event.relatedTarget);
     var callback = button.data('uploaded');

     var modal = $(this);
     modal.find('form.upload-form').data('callback', callback);
 });

 $('#uploadFileDialog .upload-form').submit(function(event) {
     // Stop form being submitted normally
     event.preventDefault();

     // Get the URL from the form's action attribute
     var $form = $(this),
         url = $form.attr('action');

     // Use FormData to include the file to upload
     var data = new FormData($form[0]);

     // POST the data
     var request = $.ajax({
         url: url,
         method: 'POST',
         data: data,
         contentType: false,
         processData: false,
         dataType: 'json'
     });

     // Close the dialog and report the results once the request has finished.
     request.done(function(data) {
         // Hide the dialog.
         $('#uploadFileDialog').modal('hide');

         // Invoke the callback stored on the form
         var callback = $form.data('callback');
         if (callback) {
             callback(data);
         }
         else {
             // Load the user profile page
             console.log('User URL? ' + data.user);
             location.assign(data.user);
         }
     });
 });
</script>
