{% extends "base.html" %}

{% block page_header %}
<div class="page-header">
  <h1>{{ entry_type }}: {{ entry.name }} <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target=".api-json-modal">API JSON</button></h1>
</div>
{% endblock %}

{% block content %}
{% include 'entries/entry.html' %}

{% block details %}
{% endblock %}

{% include 'entries/api_json.html' %}

{% endblock %}

{% block js_footer %}
{{ super() }}

<script type="text/javascript">show_entry_json("{{entry_url(entry)}}");</script>
{% endblock %}
