{% extends "base.html" %}

{% block page_header %}
<div class="page-header">
  <h2>
    {{ entry_type }}
    <a class="btn btn-link pull-right" href="{{model_url(entry, mimetype='application/json')}}" download>JSON</a>
  </h2>
</div>
{% endblock %}

{% block content %}
{% include 'entries/entry.html' %}

{% block details %}
{% endblock %}

{% include 'entries/reviews.html' %}

{% include 'entries/api_json.html' %}

{% endblock %}

{% block js_footer %}
{{ super() }}

<script type="text/javascript">show_entry_json("{{model_url(entry)}}");</script>
{% endblock %}
