{% set url = model_url(entry) %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a href="{{ url }}">{{ entry.name }}</a>
      {% if not entry.published %}<small>(DRAFT)</small>{% endif %}
      <!-- </h3> -->
      <div class="btn-toolbar pull-right">
        <div class="btn-group">

          {% if not entry.published and can_publish(entry) %}
          <a class="btn btn-link btn-xs confirm-publish" role="button" href="{{action_url('publish', entry)}}">Publish</a>
          {% endif %}

          <a class="btn btn-link btn-xs" role="button" href="{{action_url('review', entry)}}">Review</a>

          {% if entry.author.id == current_user.id %}
          {% if entry.latest is none %}
          <a class="btn btn-link btn-xs" role="button" href="{{ edit_url(entry, url=request.full_path) }}">Edit</a>
          {% else %}
          <a class="btn btn-link btn-xs disabled" role="button" href="#">Edit</a>
          {% endif %}
          {% endif %}

          {% if entry.author.id == current_user.id %}
          <a class="btn btn-link btn-xs" role="button" href="{{ url_for('site.attach_files', entry=model_url(entry)) }}">Attach</a>
          {% endif %}

          <a class="btn btn-link btn-xs" role="button" href="{{ url_for('site.clone_entry', entry=url) }}">Clone</a>
        </div>

        <div class="btn-group">
          <button type="button" class="btn btn-link btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Versions
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            {% with latest = entry.latest or entry %}
            <li {% if latest == entry %}class="disabled"{% endif %}>
              <a href="{{ model_url(latest) }}">
                {{latest.version}} (latest)
              </a>
            </li>

            {% for version in latest.versions|sort(reverse=True, attribute='version') %}
            {% with v = version.version %}
            <li {% if v == entry.version %}class="disabled"{% endif %}>
              <a href="{{ model_url(entry, version=v) }}">{{ v }}</a>
            </li>
            {% endwith %}
            {% endfor %}
            {% endwith %}
          </ul>
        </div>
      </div>
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <!-- <h3>Description</h3> -->
        {{ entry.description|markdown|safe }}
        <!-- <p>{{ entry.description|markdown|safe }}</p> -->
      </div>
      <div class="col-md-6">
        <dl class="metadata dl-horizontal">
          <dt>URL</dt>
          <dd><a href="{{ url }}">{{ url }}</a></dd>
          <dt>Created at</dt>
          <dd>{{ entry.created_at.strftime('%H:%M %Y-%m-%d') }}</dd>
          <dt>Author</dt>
          <dd><a href="{{ model_url(entry.author) }}">{{ entry.author.name }}</a></dd>
          <dt>Version</dt>
          <dd>{{ entry.version }}</dd>
          <dt>Keywords</dt>
          <dd>{{ entry.tags|join(', ', attribute='tag') }}</dd>

          {% if entry.signatures %}
          <dt>Signed by</dt>
          <dd>
            <ul class="list-unstyled">
            {% for entrysig in entry.signatures %}
            {% with signature = entrysig.signature %}
            {% with sigurl = model_url(signature) %}
            <li>
              <a href="{{sigurl}}">{{signature.user_id.name}} ({{signature.created_at}})</a>
            </li>
            {% endwith %}
            {% endwith %}
            {% endfor %}
            </ul>
          </dd>
          {% endif %}

        </dl>
      </div>
    </div>

  </div>

</div>
