{% extends 'entries/detail.html' %}

{% block details %}

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h2 class="panel-title">Problem</h2></div>
      <div class="panel-body">
        {# <a href="{{ entry_url(entry.problem) }}">{{ entry_url(entry.problem) }}</a> #}
        {% with %}
        {% set entry = entry.problem %}
        {% include 'entries/brief.html' %}
        {% endwith %}
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h2 class="panel-title">Toolboxes</h2></div>
      <div class="panel-body">
          <div class="list-group">
              {% for t in entry.toolboxes %}
              {% with %}
              {% set entry = t.dependency %}
              {% include 'entries/list-entry.html' %}
              {% endwith %}
              {% endfor %}
          </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><h2 class="panel-title">Inputs</h2></div>
  <div class="panel-body">
    <table class="table table-hover">
      <tr>
        <th>Label</th>
        <th>Type</th>
        <th>Placeholder</th>
        <th>Default</th>
        <th>Optional</th>
      </tr>
      {% for v in entry.variables %}
      <tr>
        <td>{{ v.label }}</td>
        <td>{{ v.type }}</td>
        <td>{{ v.name }}</td>
        <td>{{ v.default }}</td>
        <td>{% if v.optional %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><h2 class="panel-title">Source</h2></div>
  <div class="panel-body template-source">
  </div>
</div>

{% include 'entries/dependencies.html' %}

<div class="panel panel-default">
    <div class="panel-heading"><h2 class="panel-title">Images</h2></div>
    <div class="panel-body">
        <table class="table table-hover">
            <tr><th>ID</th><th>Provider</th></tr>
            {% for img in entry.images %}
            <tr><td>{{ img.image_id }}</td><td>{{ img.provider }}</td></tr>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}

{% block js_footer %}
{{ super() }}

<script type="text/javascript">show_solution_template("{{entry.template}}");</script>
{% endblock %}
