{% extends 'entries/detail.html' %}

{% block content %}
{{ super() }}

<div class="panel panel-default">
  <div class="panel-heading"><h2 class="panel-title">Problem Solved</h2></div>
  <div class="panel-body">
    <a href="{{ entry.problem }}">{{ entry.problem }}</a>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><h2 class="panel-title">Inputs</h2></div>
  <div class="panel-body">
    <table class="table table-hover">
      <tr>
        <th>Label</th>
        <th>Type</th>
        <th>Placeholder</th>
        <th>Default</th>
        <th>Optional</th>
      </tr>
      {% for v in entry.variables %}
      <tr>
        <td>{{ v.label }}</td>
        <td>{{ v.type }}</td>
        <td>{{ v.name }}</td>
        <td>{{ v.default }}</td>
        <td>{% if v.optional %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><h2 class="panel-title">Source</h2></div>
  <div class="panel-body">
    <script type="syntaxhighlighter" class="brush: python"><![CDATA[{{ entry.template|safe }}]]></script>
  </div>
</div>

{% endblock %}
