{% extends 'entries/detail.html' %}

{% block details %}

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h2 class="panel-title">Source</h2></div>
      <div class="panel-body">
        {% with %}
        {% set source = entry.source %}
        <dl>
          <dt>Repository URL ({{ source.type }})</dt>
          <dd>{{ source.url }}</dd>

          {% if source.checkout %}
          <dt>Checkout target</dt>
          <dd>{{ source.checkout }}</dd>
          {% endif %}

          {% if source.exec %}
          <dt>Execute</dt>
          <dd><code>{{ source.exec }}</code></dd>
          {% endif %}
        </dl>
        {% endwith %}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    {% include 'entries/dependencies.html' %}
  </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><h2 class="panel-title">Inputs</h2></div>
    <div class="panel-body">
        <table class="table table-hover">
            <tr>
                <th>Label</th>
                <th>Type</th>
                <th>Placeholder</th>
                <th>Default</th>
                <th>Optional</th>
            </tr>
            {% for v in entry.variables %}
            <tr>
                <td>{{ v.label }}</td>
                <td>{{ v.type }}</td>
                <td>{{ v.name }}</td>
                <td>{{ v.default }}</td>
                <td>{% if v.optional %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><h2 class="panel-title">Puppet template</h2></div>
    <div class="panel-body template-source">
    </div>
</div>



<div class="panel panel-default">
    <div class="panel-heading"><h2 class="panel-title">Images</h2></div>
    <div class="panel-body">
        <table class="table table-hover">
            <tr><th>ID</th><th>Provider</th></tr>
            {% for img in entry.images %}
            <tr><td>{{ img.image_id }}</td><td>{{ img.provider }}</td></tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><h2 class="panel-title">Solutions using this Toolbox</h2></div>
  <div class="panel-body">
    <ul>
      {% for d in entry.solutions %}
      <li><a href="{{ entry_url(d.solution) }}">{{ d.solution.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

{{ super() }}

{% endblock %}

{% block js_footer %}
{% if entry.puppet %}
<script type="text/javascript">show_toolbox_template("{{entry.puppet}}");</script>
{% endif %}
{% endblock %}
